In [24]:
class Account:
    def __init__(self, account_number, account_type, initial_balance):
        self.account_number = account_number
        self.account_type = account_type
        self.balance = initial_balance

    def withdraw(self, amount):
        if amount > 0 and amount <= self.balance:
            self.balance = self.balance - amount
            print(f'Withdrawal: {amount}')
            print(f'New Blance: {self.balance}')
        else:
            if amount < 0:
                print(f'{amount} is an invalid amount')
            else:
                print('Insufficient funds.')
                print(f'Current balance is {self.balance}')

In [22]:
# a - z 97 - 122
# A - Z 65 - 90
print("A = ", ord('A')) # numeric value of the char
print("65 =", chr(65))   # char for given integer
strg = 'aaa bbb'
strg+= strg
strg

A =  65
65 = A

'aaa bbbaaa bbb'

In [28]:
strg= ' aaaa '
ostr = ' aaaa '
strg+= strg
other_str = ostr + ostr
print(str) 
print(other_str) 
other_str == strg

 aaaa  aaaa
 aaaa  aaaa

True

In [68]:
'    booo'.lstrip()
'fooo    '.rstrip()
'boo'.capitalize()
'BB'.lower()
' '.join(['bb','aa','cc'])
'boo foo zoo'.split()
' bar foo barfoo'.count(' bar ') 
' bar foo barfoo'.find(' foo ')  # returns index starting from 0
'bar foo bar foo barfoo'.replace('bar ', 'zoo ')
# print("boo",end="-")
# print('zoo',end=' ')
let_z = 'z'
'z'.isalnum()
'z'.isalpha()
'1'.isdigit()
'z'.islower()
'Z'.isupper()
' '.isspace()

print('bar',end="\n")

bar

In [79]:
def is_float(strg):
    try:
        float(strg)
        return True
    except ValueError: 
        return False
        
is_float('33.3a')
'a b'.split(' ')
'a b'.split()

['a', 'b']

In [ ]:
def solve_eq(eq):
    x,op,n,eql,n2 = eq.split()

In [81]:
def mult_div(n1, n2):
    return (n1 * n2), (n1/n2)

m,d = mult_div(4,2)
print("{} {}",m,d)

{} {} 8 2.0

In [94]:
def is_prime(n):
    for i in range(2, n):
        if (n % i) == 0:
            return False
    return True 

def list_primes(max): 
    primes_list = []
    for n1 in range(2, max):
         if is_prime(n1):
             primes_list.append(n1)
    return primes_list  

list_primes(20)

[2, 3, 5, 7, 11, 13, 17, 19]

In [110]:
def sum_all(*args):
    print(*args)
    print(type(args))
    print(args)
    sm = 0
    for i in args:
        sm += i
    return sm 

sum_all(3,4,9,22,10)

3 4 9 22 10
<class 'tuple'>
(3, 4, 9, 22, 10)

48

In [ ]:
import math

def get_areo(shape):
    shape = shape.lower()

In [58]:
rlist = ['aa', 1.23, 28]
rlist[-3] # 'aa'
rlist[-1] # 28
one_to_ten = list(range(11))
len(rlist) # 3
len('foo') # 3
rlist[0:2] # first two items
rlist[0] * 3 # aaaaaa
rlist.index(28)  # index 2
'aa' in rlist   # True
rlist.count('aa') # 1
rlist[0] = 'bb' # replaces values
rlist.append('foo') # ['bb', 1.23, 28, 'foo']

import random
nlist = []
for i in range(5):
    nlist.append(random.randrange(1,9)) 

# Buble Sort
blist = []
for i in range(10):
    blist.append(random.randrange(1,99)) 

swapped = True
i = 0

while swapped:
    swapped = False
    for i in range(len(blist) - 1):
        if blist[i] > blist[i + 1]:
            blist[i], blist[i+1] = blist[i +1], blist[i]
            swapped = True

print('--')
rv = [2,99,1,0,33]
rv.sort()
print(rv)
rv.reverse()
print(rv)
rv.insert(0,100)
print(rv)
rv.remove(100)
print(rv)
rv.pop(-1)
print(rv)

--
[0, 1, 2, 33, 99]
[99, 33, 2, 1, 0]
[100, 99, 33, 2, 1, 0]
[99, 33, 2, 1, 0]
[99, 33, 2, 1]

In [23]:
# O(nlog n ) Time complexity
# O(n) Space complexity
def ary_square(ary):
    if len(ary) < 1:
        return ary
    for i in range(len(ary)):
        ary[i] = ary[i] ** 2
    return  ary

ary_square([1,3,5]) == [1,9,25]
sol = ary_square([-4, -2, 0,1,3])
sol.sort()

res = [0] * 3
len(res)
print(res)

[0, 0, 0]

In [148]:
def asqr(ary):
    new_ary = [0] * len(ary)
    left = 0
    cur = right = len(ary) - 1
    while left < right: 
        print(cur)
        lt = ary[left] ** 2
        rt = ary[right] ** 2
        if lt > rt:  
            new_ary[cur] = lt
            left += 1
        else: 
            new_ary[cur] = rt
            right -= 1
        cur -= 1 
    return new_ary 
    
asqr([-5,-2,0,1,3,20])

5
4
3
2
1

[0, 1, 4, 9, 25, 400]

In [155]:
def sq(ary):
    n = len(ary)
    l,r = 0, n-1
    res =[0]*n

    for k in reversed(range(n)):
        print(k) 
        lv = ary[l]**2
        rv = ary[r]**2
        if lv > rv:
            l += 1
            res[k] = lv
        else:
            r -= 1
            res[k] = rv
    return res   

sq([-5,-2,0,1,3,20])

5
4
3
2
1
0

[0, 1, 4, 9, 25, 400]

In [43]:
import math
[[math.pow(m,2), math.pow(m,3), math.pow(m,4)] for m in [1,2,3]]

[[1.0, 1.0, 1.0], [4.0, 8.0, 16.0], [9.0, 27.0, 81.0]]

In [49]:
[[0] * 9 for i in range(3)]

[[0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [64]:
dc = {'foo': 'a', 'bar': 2, 3: 'zo'}
dc[3]
dc['bar']
'foo' in dc  # true if exists
dc.values()
dc.keys()
dc.get('f','not here') # prints default if not found
dc.clear()  #  return {}
dc = {'foo': 'a', 'bar': 2, 3: 'zo'}
del dc['foo']
dc # removes 'foo' and value

{'bar': 2, 3: 'zo'}

In [123]:
# tubples
mt = (1,2,3,4)
nt = mt[0:2] # returns (1,2) tuple
type(nt)
len(nt)
jt = nt + mt
4 in jt # returns true
for i in jt:
    print(i)
gt = tuple([i for i in range(10)])  # creates tuple from 0 to 9
lt = tuple([1,2,4]) # converts list to tuple
lst = list(lt)

1
2
1
2
3
4

In [133]:
## OOP

class Dog:
    def __init__(self, name="", height=0, weight=0 ): 
        self.name = name
        self.height = height
        self.weight = weight

    def run(self): 
        print("{} runs".format(self.name))

    def eat(self): 
        print("{} eats".format(self.name))
        
    def bark(self): 
        print("{} barks".format(self.name))

def main():
    
    spot = Dog("Spot", 3, 20)
    spot.run()
    print(spot.name)
    print(spot.height)

main()

Spot runs
Spot
3

In [144]:
class Square:  
    def __init__(self, height='0', width='0'): 
        self.height = height 
        self.width = width

    @property 
    def height(self):
        print("Retrieving the height")
        return self.__height
        
    @height.setter
    def height(self, value):
        if value.isdigit():
            self.__height = value
        else:
            print("Invalid format")

    def area(self):
        return int(self.height) * int(self.width)
            
def main():
    sq = Square('10', '10')
    print(sq.height)
    sq.height = '30'
    print(sq.height)
    print(sq.area())
    print('b'.isdigit())
    print('4'.isdigit())


main()

Retrieving the height
10
Retrieving the height
30
Retrieving the height
300
False
True

In [164]:
def mnt(ary):
    if len(ary) < 2:
        return True
        
    n = len(ary)
    monoten = ''
    for i in range(n - 1):
        if ary[i] > ary[i+1]:
            if monoten == '':
                monoten = 'inc'
            if monoten != 'inc':
                return False
        if ary[i] < ary[i+1]:
            if monoten == '':
                monoten = 'dec'
            if monoten != 'dec':
                return False
    return True 

# Time Complexity O(n), Space Complexity O(1)
   
# mnt([1,1,1,1,1])
# mnt([1])
# mnt([1,1,2,0,3,4])
# mnt([9,9,8,7,0,4,4,1])

True

In [165]:
def downsm(n):
    if n == 1:  
        return 1
    return n + sm(n - 1)

downsm(10)

55

In [168]:
def upsm(m,n):
    if n == m:
        return n
    return m + upsm(m +1, n) 

upsm(0,10)

55

In [203]:
def kth(n, k = 1, s = '0'):
    if n == 1:
        return s[k - 1]
    ns = '' 
    for i in range(len(s)):
        if s[i] == '0': 
            ns += '01'
        else: 
            ns += '10'
    return kth( n - 1, k, ns)
    
      
# kth(3,4)
# kth(4,1)
kth(4,8)
kth(1,1)

'0'

In [214]:
def kth_sym(n,k):
    if n == 1:
        return 0
    ln = 2**(n-1) 
    mid = ln // 2
    if k <= mid:
        return kth_sym(n-1,k)
    else:
        return  int(not kth_sym(n-1, k - mid))

kth_sym(4,8)

1

In [248]:
import random
import math

class Warrior:
    def __init__(self, name="Warrior", health=0, att_max=0, block_max=0):
        self.name = name
        self.health = health
        self.att_max = att_max
        self.block_max = block_max

    def attack(self):
        return int(self.att_max * (random.random() + .5))

    def block(self): 
        return int(self.block_max * (random.random() + .5))

# Utility Class - no instantiation 
class Battle:
    def start_fight(self, w1,w2):
        wrs = [w1,w2]
        random.shuffle(wrs)
        ar, br = wrs
        while True:
            print([ar.name, br.name])
            print("{} attacks {}".format(ar.name,br.name))
            remaining =  self.attack_result(ar,br) 
            print(remaining)
            if remaining < 1:
                  print("{} lost".format(br.name)) 
                  print("Game Over") 
                  break
            else:
                print("{} blocked attack!".format(br.name))
                ar, br = br, ar
                
    def attack_result(self, ar, br):
         attack = br.attack()
         block = br.block()
         print("attack force:", attack)
         print("block force:", block)
         return  block - attack
         
         
def main():
    w1 = Warrior("Batman", 100, 15, 25)
    w2 = Warrior("Superman", 100, 15, 25)
    battle = Battle()
    battle.start_fight(w1,w2)

main()

['Batman', 'Superman']
Batman attacks Superman
attack force: 11
block force: 14
3
Superman blocked attack!
['Superman', 'Batman']
Superman attacks Batman
attack force: 13
block force: 27
14
Batman blocked attack!
['Batman', 'Superman']
Batman attacks Superman
attack force: 19
block force: 22
3
Superman blocked attack!
['Superman', 'Batman']
Superman attacks Batman
attack force: 9
block force: 34
25
Batman blocked attack!
['Batman', 'Superman']
Batman attacks Superman
attack force: 19
block force: 36
17
Superman blocked attack!
['Superman', 'Batman']
Superman attacks Batman
attack force: 20
block force: 32
12
Batman blocked attack!
['Batman', 'Superman']
Batman attacks Superman
attack force: 21
block force: 16
-5
Superman lost
Game Over

In [232]:
import random

w = [1,2]
random.shuffle(w)
print(w)

[2, 1]

In [277]:
class Animal:
    def __init__(self, 
                 an_type="None", 
                 blooded="None"):
        self._an_type = an_type
        self._blooded = blooded

    @property
    def an_type(self):
        return self._an_type
        
    @an_type.setter
    def an_type(self, val):
        self._an_type = val

    @property
    def blooded(self):
        return self._blooded 

    @blooded.setter
    def blooded(self, val):
        self._blooded = val

    def __str__(self):
        return "Type: {}, Blooded: {}".format(self.an_type, self.blooded)

class Mamal(Animal):
    def __init__(self, an_type="None", blooded="None", nursed=True):
        super().__init__(an_type, blooded)
        self._nursed = nursed

    @property
    def nursed(self):
        return self._nursed 
     
    @nursed.setter
    def nursed(self, val):
        self._nursed = val
     
    def __str__(self): 
        return super().__str__() + " Nursed: {}".format(self.nursed)

def main():
    print("Animals")
    a1 = Animal("mouse")
    print (a1)
    m1 = Mamal("bear", "warm", True)
    # print(m1.an_type)
    # print(m1.blooded)
    # print(m1.nursed)
    print(m1)


main()

Animals
Type: mouse, Blooded: None
Type: bear, Blooded: warm Nursed: True

In [281]:
a = [1,2]
b =  [0, 4]
type(a)

list

In [287]:
 b > a
type(id(b))

int

In [293]:
l = [i for i in range(19)]
l[::3]

[0, 3, 6, 9, 12, 15, 18]

In [294]:
t = 1,2,3,4,5
t[::-1]

(5, 4, 3, 2, 1)

In [299]:
s = 'racecar'
s == s[::-1]
del l[::2]
l

[1, 5, 7, 9, 11, 13, 15, 17]

In [303]:
l.append(2)
l
l.extend('car')
l

[1, 5, 7, 9, 11, 13, 15, 17, '2', 2, 2, 'c', 'a', 'r', 2, 'c', 'a', 'r']

In [304]:
s = 'some'
ls = list(s)
ls

['s', 'o', 'm', 'e']

In [350]:
# sets
st = {'a','b','c'}
ds = {'a','b'}
st.add('d')
st.difference(ds) # st - ds
ds.difference(st) # ds - st
set() # empty set
ds.union(st) == st.union(ds) # adds sets
ds.intersection(st)  # mutual elements
'a' in ds 

# for i in ds: print(i);
    
# list comprehesions
nl = [i for i in range(10)]
nl2 = [i * 2 for i in [1,2,3]]
[  s for s in ['sam','sally','bbo'] if s.startswith('s') ]

# dictionary
dct = {'r': 24, 'b': 30} 
dct['r'] = 44
dct['z'] = 99
dct[3] = 'b'
'r' in dct # True - only keys
# for k in dct:   # iterate over keys
#    print(k,dct[k])

# for k,v in dct.items(): # prints both keys and values
#    print(k, v)

dct.values() # to get only values

# descructuring
x,y = 3,4 # tuples
x,y = [3,4]  # lists
x, y,z = {3,4,'b'} # sets
x, y = {1: 'a',2:'b'}
type(x), y

# for i in {1: 'a',2:'b'}.items():  print(i) # prints (1,'a') ..
    
x, _, y = (1,2,3) 
h, *t = (1,2,3)
h, *t = [1,2,3]

[2, 3]

In [417]:
# sets
st = {'a','b','c'}
ds = {'a','b'}
st.add('d')
st.difference(ds) # st - ds
ds.difference(st) # ds - st
set() # empty set
ds.union(st) == st.union(ds) # adds sets
ds.intersection(st)  # mutual elements
'a' in ds 

# for i in ds: print(i);
    
# list comprehesions
nl = [i for i in range(10)]
nl2 = [i * 2 for i in [1,2,3]]
[  s for s in ['sam','sally','bbo'] if s.startswith('s') ]

# dictionary
dct = {'r': 24, 'b': 30} 
dct['r'] = 44
dct['z'] = 99
dct[3] = 'b'
'r' in dct # True - only keys
# for k in dct:   # iterate over keys
#    print(k,dct[k])

# for k,v in dct.items(): # prints both keys and values
#    print(k, v)

dct.values() # to get only values

# descructuring
x,y = 3,4 # tuples
x,y = [3,4]  # lists
x, y,z = {3,4,'b'} # sets
x, y = {1: 'a',2:'b'}
type(x), y

# for i in {1: 'a',2:'b'}.items():  print(i) # prints (1,'a') ..
    
x, _, y = (1,2,3) 
h, *t = (1,2,3)
h, *t = [1,2,3]
*h, t = [1,2,3]
h, *t, z = [1,2,3,4]
print(*t)

1
2 3

In [384]:
# functions

def hello(first, last):
    ...

hello(last='bob',first='joe') # named/keyword arguments - not positional - no spaces between expressions
hello('joe',last='all') # positional args before named args

# default params

def add(x,y=8):
    pass # positionsal args comes first

add(5)  # y is not required  

# Lambda functions

add = lambda x,y: x + y
(lambda x,y: x + y)(5,7)

def double(x):
    return x * 2

nums = [i for i in range(9)]
res = [ x * 2 for x in nums] 
res = [double(x) for x in nums]
res = list(map(double,nums))
res = list(map(lambda x: x * 2,nums))

# dictionary comprehensions

users = [
    ('bob',22, 'pass'),
    ('foo',33, 'pass2')  ]

{u[0]: u[1:] for u in users} # {'bob': (22, 'pass'), 'foo': (33, 'pass2')}

{'bob': (22, 'pass'), 'foo': (33, 'pass2')}

In [409]:

# multiple args

def mul(*args): # converts arguments into a tuple
    print(args)
    res = 1
    for arg in args:
        res *= arg
    return res


mul(3,2,4)

def multp(args):
    res = 1
    for arg in args:
        res *= arg
    return res

# 
def add(x,y):   
    return x + y

nums = [3,5]
add(*nums)

# 

def add(x,y):
    return x + y

nums = {'x': 10, 'y':20}
res = add(**nums)

def apply(*args, op):
    print(args)
    if op == '*':
        return multp(args)
    elif op == '+':
        return add(args)
    else:
        return "not a vaild operator" 
        
res =  apply(1,2,3, op='*')
res

(3, 2, 4)
(1, 2, 3)

6

In [415]:
# unpacking keyword arguments

def named(**kwargs):
    print(kwargs)  #  {'name': 'bar', 'age': 99}
    
p = {'name': 'bar', 'age': 99}
named(**p)
named(name='bar',age=99)

def print_nicely(**kwargs):
    named(**kwargs)
    for arg, value in kwargs.items():
        print(f"{arg}: {value}")

print_nicely(name='bob', age=99)

{'name': 'bar', 'age': 99}
{'name': 'bar', 'age': 99}
{'name': 'bob', 'age': 99}
name: bob
age: 99

In [416]:
def both(*args, **kwargs):
    print(args)
    print(kwargs)


both(1, 3, 5, name='bob', age=99)

(1, 3, 5)
{'name': 'bob', 'age': 99}

In [430]:
# object oriented programming
student = {'name': 'joe', 'grades': (89,90,90,89)}
student

{'name': 'joe', 'grades': (89, 90, 90, 89)}

In [435]:
class Student:
    def __init__(self, name, grades):
        self.grades = grades
        self.name = name

    def average_grade(self):
        return sum(self.grades)/ len(self.grades)
        
student = Student('rolf', (20,30,40))
Student.average_grade(student)
student.average_grade()

30.0

In [443]:
# Magic Methods
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"Person {self.name}, {self.age} years old."

    def __repr__(self):
        return f"<Pereson({self.name}, {self.age})>"



bob = Person('bob', 34)
print(bob)

None

In [453]:
# Static and class methods

class MetTest:
    def ins_method(self):
        print(f"Called ins_method of {self}")

    @classmethod         # used for factories
    def class_method(cls):
        print(f"Called class method of {cls}")


    @staticmethod          
    def static_method():
        print("Called static method")
    
test = MetTest()
test.ins_method()
test.class_method()
MetTest.class_method()  
MetTest.static_method()
test.static_method()

Called ins_method of <__main__.MetTest object at 0x76d1842f4590>
Called class method of <class '__main__.MetTest'>
Called class method of <class '__main__.MetTest'>
Called static method
Called static method

In [465]:
# Class properties
class Book:
    TYPES = 'hardcover', 'paperback'

    def __init__(self, name, book_type, weight):
        self.name = name
        self.book_type = book_type
        self.weight = weight

    def __repr__(self):
        return f"<Book {self.name}, {self.book_type}, {self.weight}>"

    @classmethod 
    def hardcover(cls, name, weight):
        return Book(name, Book.TYPES[0], weight + 100)

book = Book.hardcover('SCIP', 100)
print(book)

<Book SCIP, hardcover, 200>

In [478]:
# Class inheritance
# is-a relationship printer is a device
class Device:
    def __init__(self, name, connected_by):
        self.name = name
        self.connected_by = connected_by
        self.connected = True

    def __str__(self):
        return f"Device {self.name!r} ({self.connected_by})"
    
    def  disconnect(self):
        self.connected = False
        print("Disconnected.")

class Printer(Device):
    def __init__(self, name, connected_by, capacity):
        super().__init__(name, connected_by)
        self.capacity = capacity
        self.remaining_pages = capacity


    def __str__(self):
        return f"{super().__str__()} ({self.remaining_pages} pages remaining)"

    def print(self, pages):
        if not self.connected:
            return f"printer is not connected"
        if self.capacity > pages: 
             self.remaining_pages -= pages
             return f"printing"
        return f"not enogh capacity" 
         


printer = Printer('Printer', 'usb', 100)
print(printer)
print(printer.print(20))

Device 'Printer' (usb) (100 pages remaining)
printing

In [483]:
# Class composition
# has-a relationship : bookshelf has books
class BookShelf:
    def __init__(self, *books):
        self.books = books


    def __str__(self):
        return f"Bookself with {len(self.books)} books."

class Book:
    def __init__(self, name):
        self.name = name

    def __str__(self):
        return f"{self.name}"

    def __repr__(self):
        return f"{self.name}"
        
b1 = Book('potter')
b2 = Book('snow')

shelf = BookShelf(b1,b2)
print(shelf.books) #  (potter, snow)

(potter, snow)

In [ ]:
# Type hinting

from typing import List

def list_avg(seq: List) -> float:
    return sum(seq) / len(seq)

class BookShelf:
    def __init__(self, books: List[Book]

    def __str__(self) -> str:

In [485]:
# importing 

# in mymodule.py

def divide(dividend, divisor):
    return divident / divisor

print("mymodule.py: ", __name__)

# within another file

from mymodule import divide

divide(10,2)

my_module.py:  __main__

In [486]:
# finding current python paths
import sys

print(sys.path)

['/home/avsar/.asdf/installs/python/3.13.0/lib/python313.zip', '/home/avsar/.asdf/installs/python/3.13.0/lib/python3.13', '/home/avsar/.asdf/installs/python/3.13.0/lib/python3.13/lib-dynload', '', '/home/avsar/.asdf/installs/python/3.13.0/lib/python3.13/site-packages']

In [ ]:
# absolute path importing 
from operations.libs import divide
# relative path importing
# avoid using it
from .libs import divide

In [ ]:
# errors/exceptions in python
if divisor == 0:
    raise ZeroDivisionError('Divisor cannot be 0.')

In [498]:
def div(n1,n2):
    if n2 == 0: 
        raise ZeroDivisionError('Divisor cannot be 0.')
    return n1/n2 
        
try:
    resp =div(3,0)
except ZeroDivisionError as e:
    print(e)
    print("division error ")
else: 
    print(resp)
finally:
    print("done")

Divisor cannot be 0.
division error
done

In [502]:
# custom execption classes
class TooManyPagesReadError(ValueError):
    pass

def read(pages: int, pages_read: int):
    if pages_read > pages:
        raise TooManyPagesReadError("More pages than available")
    return pages - pages_read

read(300, 200)

100

In [504]:
# First class functions - functions as arguments

def div(n1,n2):
    return n1/n2
    
def calc(*values, op):
    return op(*values)

calc(10,2,op=div) # returns 5.0

5.0

In [505]:
def search(seq, expected, finder):
    for elem in seq:
        if finder(elem) == expected:
            return elem
    raise RuntimeError(f"Not found {expected}")

friends = [
    {'name': 'rofl','age': 22},
    {'name': 'bob', 'age':44}
]

def friend_by_name(friend):
    return friend['name']

search(friends, 'bob', friend_by_name) # {'name': 'bob', 'age': 44}

{'name': 'bob', 'age': 44}

In [508]:
# Decorators
user = {'name':'bob', 'level': 'admin'}
def admin_password(): 
    return '1234'

def make_secure(func):  
    def secure_function():  
        if user['level'] == 'admin':
            return func()
        else:
            return "Not authorized"

    return secure_function

admin_password = make_secure(admin_password)

print(admin_password())

1234

In [510]:
# Decorators with 'at' syntax
import functools
user = {'name':'bob', 'level': 'admin'}

@make_secure
def admin_password(): 
    return '1234'

def make_secure(func):   # decorator function
    @functools.wraps(func)
    def secure_function():  
        if user['level'] == 'admin':
            return func()
        else:
            return "Not authorized"

    return secure_function

print(admin_password())

Not authorized

In [516]:
# Decorator functions with parameters
import functools
user = {'name':'bob', 'level': 'admin'}

@make_secure
def admin_password(panel): 
    if panel == 'admin':
        return '1234'
    elif panel == 'billing':
        return '5678'

def make_secure(func):   # decorator function
    @functools.wraps(func)
    def secure_function(*args, **kwargs):  
        if user['level'] == 'admin':
            return func(*args, **kwargs)
        else:
            return "Not authorized"

    return secure_function

print(admin_password('billing'))

5678

In [526]:
# Decorator with parameters
import functools
user = {'name':'bob', 'level': 'admin'}
user = {'name':'tom', 'level': 'guest'}
user = {'name':'joe', 'level': 'user'}

def make_secure(access_level):
    def decorator(func):
        @functools.wraps(func)
        def secure_function(*args, **kwargs):
            if user['level'] == access_level:
                return func(*args, **kwargs)
            else:
                return f"Not authorize"
        return secure_function 
    return decorator 



            
@make_secure('admin')
def admin_password():
    return 'admin: 1234'
    
@make_secure('user')
def dashboard_password():
    return 'user: user_pass'

print(admin_password())
print(dashboard_password())

Not authorize
user: user_pass

In [ ]:
# Mutable default parameters
# do not use mutable default parameter values
from typing import list 

Class Student:
def __init__(self, grades: List[int] = []): # This is bad

def __init__(self, grades: List[int] = None ): # This is better

In [37]:
# Copying Sequences

# Shallow Copy - good for immutable elements
l1 = [1,2,3]

l2 = l1[:] # shallow copy - copying by slicing - different ids 
id(l2) is id(l1) # False

l3 = l1.copy() # shallow copy - elements are the same - referencing the same objects

# if elements are mutable, content gets changed 

la = [[1],[2]]
lb = la.copy()
lb is la  # False
lb[0] is la[0] # True
la[0][0]  = 99
lb[0][0] # is also changed to 99 
la, lb # return [[99],[2]] for both of them

# Deep Copy - not a built in function
# Good for mutable types

from copy import deepcopy
lc = deepcopy(la)
lc,la
lc[0] is la[0] # False

False

In [47]:
# Unpacking Sequences
rate = 5.0, 5.12
apr, apy = rate

nms = 3,4,5,8,9
a, *c = nms
a, *c # a = 3, c = 4,5,8,9
type(c) # list
a,b,c = "Tom"
a, b, c # ('T', 'o', 'm')
k, l, m = [ 1 + 1, 'abc'[1:], 3.14]
k, l, m # (2, 'bc', 3.14)

(2, 'bc', 3.14)

In [48]:
# swaping two values
a = 3
b = 0
a,b = b, a
a, b # a = 0, b = 3

(0, 3)

In [61]:
t1 = 1, 2, 3, 4, 5, 6
t2 = 7, 8, 9, 10
t3 = 11, 12, 13, 14, 15, 16, 17
l1, l2, l3 = list(t1), list(t2), list(t3)
l1[::2] = [0] * len(l1[::2])
l2[::2] = [0] * len(l2[::2])
l3[::3] = [0] * len(l3[::3])
list(l1 +  l2 + l3)

[0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 12, 13, 0, 15, 16, 0]